<div class="create-player">
    <div class="row">
        <div class="six columns">
            <form>
                <div class="row">
                    <div class="twelve columns">
                        <label for="exampleEmailInput">Name:</label>
                        <input class="u-full-width name" type="text" placeholder="Your characters name">
                    </div>
                </div>
                <button class="button-primary">Create</button>
            </form>
        </div>
        <div class="six columns">

        </div>
    </div>

    <!--Race:-->
    <!--<select class="race" name="" id="">-->
        <!--<option value="human">Human</option>-->
        <!--<option value="orc">Orc</option>-->
    <!--</select>-->


</div>